.body {
    display: grid;
    height: 100rem;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    overflow: auto;
    display: inline-block;
    }