<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <link rel="stylesheet" href="/static/main.css"/>
<body >
    <img id="video-frame" src="{{ url_for('video_feed') }}" width="40%">
    <object data="{{ url_for('static', filename='logins.txt') }}" type="text/plain"
      width="500" style="height: 300px">
    </object>
    <a href="{{url_for('logout')}}">Press here to logout</a>

</body>

</html>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Image Detection</title>
    <style>
      .container {
        display: flex;
        align-items: center;
      }
      #video_feed {
        width: 60%;
      }
      #detected_words {
        margin-left: 20px;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Detected Words</h1>
        <p id="detected_words"></p>
      </div>
      <div>
        <img src="{{ url_for('video_feed') }}" id="video_feed">
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var eventSource = new EventSource('/video_feed');
      eventSource.onmessage = function(event) {
        var detectedWords = event.data;
        $('#detected_words').text(detectedWords);
      };
    </script>
  </body>
</html> -->
